@font-face {
	font-family: 'UTM Centur';
	src: url('UTMCenturBold.eot');
	src: url('UTMCenturBold.eot?#iefix') format('embedded-opentype'), url('UTMCenturBold.woff2') format('woff2'),
		url('UTMCenturBold.woff') format('woff'), url('UTMCenturBold.ttf') format('truetype'),
		url('UTMCenturBold.svg#UTMCenturBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UTM Centur';
	src: url('UTMCentur.eot');
	src: url('UTMCentur.eot?#iefix') format('embedded-opentype'), url('UTMCentur.woff2') format('woff2'),
		url('UTMCentur.woff') format('woff'), url('UTMCentur.ttf') format('truetype'),
		url('UTMCentur.svg#UTMCentur') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Light.eot');
	src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'), url('MyriadPro-Light.woff2') format('woff2'),
		url('MyriadPro-Light.woff') format('woff'), url('MyriadPro-Light.ttf') format('truetype'),
		url('MyriadPro-Light.svg#MyriadPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-LightSemiCnIt.eot');
	src: url('MyriadPro-LightSemiCnIt.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-LightSemiCnIt.woff2') format('woff2'), url('MyriadPro-LightSemiCnIt.woff') format('woff'),
		url('MyriadPro-LightSemiCnIt.ttf') format('truetype'),
		url('MyriadPro-LightSemiCnIt.svg#MyriadPro-LightSemiCnIt') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Regular.eot');
	src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('MyriadPro-Regular.woff2') format('woff2'),
		url('MyriadPro-Regular.woff') format('woff'), url('MyriadPro-Regular.ttf') format('truetype'),
		url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
