/*---------- example css ----------*/
.c-closepaypage {
	position: absolute;
	z-index: 2;
	top: 20px;
	right: 10px;
	cursor: pointer;
}

.c-cartlist-box {
	&__table {
		display: none;
		font-size: 14px;
		margin-bottom: 60px;

		table {
			border-top: 1px solid $color-black;
			margin-bottom: 0;

			thead {
				th {
					border-bottom-color: rgba($color-black, 0.1) !important;
					font-weight: 400;
				}
			}

			td,
			th {
				vertical-align: middle;
			}
		}

		.is-total {
			padding: 15px 30px;
			background: rgba(#dfdfdf, 0.3);
			display: flex;
			justify-content: space-between;
			font-size: 24px;
		}
	}

	&__box {
		margin: 0 -15px 60px -15px;

		.is-item {
			padding: 25px 15px;
			border-bottom: 2px solid rgba($color-black, 0.1);

			&:first-child {
				border-top: 2px solid rgba($color-black, 0.1);
			}

			.is-top {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				position: relative;
				z-index: 1;

				.is-img {
					margin-right: 15px;
					margin-left: 7px;
					position: relative;
					z-index: 1;

					img {
						width: 74px;
					}

					.rs-checkbox {
						position: absolute;
						z-index: 2;
						top: -25px;
						left: -13px;
					}

					.rs-checkbox-checker {
						padding-left: 0;
						min-height: auto;
						padding-top: 0;
						padding-bottom: 0;
					}

					.rs-checkbox-wrapper {
						position: relative;
						z-index: 1;

						&:before {
							border: 0 !important;
							visibility: visible !important;
							opacity: 1 !important;
							content: '';
							position: absolute;
							z-index: 2;
							top: 0px;
							left: -20px;
							width: 35px;
							height: 35px;
							background: url('../../images/opt_select_ico2.png') no-repeat -1px center / 80px auto;
						}

						.rs-checkbox-inner {
							display: none;
						}
					}

					.rs-checkbox-checked {
						.rs-checkbox-wrapper {
							&:before {
								background: url('../../images/opt_select_ico2.png') no-repeat -44px center / 80px auto;
								transform: scale(1) !important;
							}
						}
					}
				}

				.is-title {
					font-weight: 700;
				}

				.is-close {
					position: absolute;
					z-index: 2;
					top: 0;
					right: 0;
				}
			}

			.is-bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.rs-input-number {
					width: 100px;
				}

				b {
					font-size: 20px;
				}
			}
		}

		.is-total {
			padding: 15px;
			background: rgba(#dfdfdf, 0.3);
			display: flex;
			justify-content: space-between;
			font-size: 24px;
		}
	}
}

.c-cartlist-pay {
	position: fixed;
	z-index: 6;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(#dfdfdf, 1);
	padding: 10px 15px;

	button {
		background: $color-primary;
		padding: 15px;
		border-radius: 20px;
		font-size: 20px;
		font-weight: 700;
		color: $color-white;
		display: block;
		width: 100%;
	}
}

.c-cartnone {
	text-align: center;
	margin-bottom: 60px;

	img {
		max-width: 300px;
		display: block;
		margin: 0 auto 30px auto;
	}

	span {
		display: block;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	button {
		background: $color-primary;
		padding: 15px;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 700;
		color: $color-white;
		display: block;
		width: 200px;
		margin: 0 auto 30px auto;
	}
}

.c-input-box {
	margin: 30px 0 30px;
	font-size: 10px;

	table {
		width: 100%;
		border-collapse: collapse;

		tr {
			border: solid rgba(#333, 0.2) 1px;

			td {
				&:first-child {
					width: 30%;
				}
			}
		}

		td {
			border: solid rgba(#333, 0.2) 1px;
			padding: 15px;

			select {
				margin-bottom: 5px;
				width: 80%;
			}

			// input {
			// 	width: 80%;
			// }
		}

		input {
			margin-bottom: 5px;
		}

		.btnBox {
			button {
				width: 100%;
				padding: 10px;
				background: #708741;
				color: #fff;
			}
		}
	}
}

.c-total-money-box {
	border: solid rgba(#333, 0.2) 1px;
	padding: 15px;
	margin-bottom: 30px;

	button {
		background: $color-primary;
		color: #fff;
		border-radius: 10px;
	}

	&__first {
		p {
			&:first-child {
				font-size: 18px;
			}

			font-weight: bold;
			color: $color-primary;
		}

		.c-apply-voucher {
			display: flex;
			align-items: center;
			justify-content: space-between;

			button {
				padding: 5px 10px;
			}

			&__input {
				width: 65%;
			}

			&__button {
				width: 30%;
			}

			input,
			button {
				width: 100%;
			}

			button {
				@include transition-default;
			}
		}
	}

	&__second {
		table {
			font-size: 16px;
			font-weight: bold;
			width: 100%;

			tr {
				display: flex;
				justify-content: space-between;

				td {
					color: $color-primary;
					padding: 8px;

					&:first-child {
						width: 50%;
					}
				}
			}
		}
	}

	&__third {
		text-align: center;

		p {
			font-weight: bold;

			&:first-child {
				font-size: 12px;
			}
		}

		button {
			font-size: 16px;
			width: 100%;
			padding: 10px;
			@include transition-default;
		}
	}
}

.c-flex-order {
	.col-lg-6 {
		&:first-child {
			order: 2;
		}

		&:nth-child(2) {
			order: 1;
		}

		&:nth-child(3) {
			order: 4;
		}

		&:nth-child(4) {
			order: 3;
		}
	}
}

.c-transport {
	margin-bottom: 30px;

	.c-transport-title {
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
		font-size: 25px;
		font-weight: 700;
		padding-bottom: 0;
		color: $color-primary;
	}

	.have-shipping-service {
		padding: 10px;

		span {
			display: block;
			font-size: 14px;
			color: #ff0505;
			text-decoration: underline;
			text-align: center;
		}
	}

	.c-transport-info {
		display: flex;
		align-items: center;
		padding: 5px 10px;

		&__radio {
			width: 8%;

			input {
				display: none;
			}

			span {
				display: inline-block;
				width: 20px;
				height: 20px;
				background: $color-white;
				border: 2px solid $color-black;
				@include border-radius(50%);
				display: flex;
			}

			input:checked + span {
				background: $color-button-hover;
				border: 2px solid $color-button-hover;
			}
		}

		&__content {
			padding-left: 10px;
			width: 92%;
			display: flex;
			align-items: center;

			&__name {
				img {
					width: 40px;
					height: 40px;
					display: inline-block;
					margin-left: -10px;
					margin-right: 10px;
				}

				span {
					font-size: 14px;
					font-weight: 600;
				}
			}

			&__price {
				margin-left: auto;

				span {
					// color: #ff424e;
					display: block;
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}
}

//example responsive css
@media (min-width: $screen-sm-min) {
	//mobile lanscape
}

@media (min-width: $screen-md-min) {
	//ipad portrait
	.c-total-money-box {
		&__second {
			table {
				tr {
					td {
						font-size: 20px;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	//ipad lanscape & pc 1024x768px
	.c-cartlist-box {
		&__table {
			display: block;
		}

		&__box {
			display: none;
		}
	}

	.c-cartlist-pay {
		position: relative;
		width: 30%;
		background: transparent;
		float: right;
		padding-right: 0;
		margin-bottom: 60px;
		margin-top: 15px;

		button {
			background: $color-primary;
			padding: 15px;
			border-radius: 20px;
			font-size: 20px;
			font-weight: 700;
			color: $color-white;
			display: block;
			width: 100%;
		}
	}

	.c-input-box {
		font-size: 14px;

		table {
			tr {
				border: solid rgba(#333, 0.2) 1px;

				td {
					&:first-child {
						width: 30%;
					}
				}
			}

			td {
				border: solid rgba(#333, 0.2) 1px;
				padding: 15px;

				select {
					margin-bottom: 5px;
					width: 50%;
				}

				// input {
				// 	width: 50%;
				// }
			}

			input {
				margin-bottom: 5px;
			}

			.btnBox {
				button {
					width: 100%;
					padding: 10px;
					background: #708741;
					color: #fff;
				}
			}
		}
	}

	.c-total-money-box {
		&__first {
			.c-apply-voucher {
				button {
					padding: 14px 10px;

					&:hover {
						background: rgba($color-black, 0.3);
					}
				}

				input {
					padding: 10px;
				}
			}
		}

		&__second {
			table {
				tr {
					td {
						&:first-child {
							width: 40%;
						}
					}
				}
			}
		}

		&__third {
			p {
				&:first-child {
					font-size: 14px;
					line-height: 1.5;
				}
			}

			button {
				font-size: 16px;

				&:hover {
					background: rgba($color-black, 0.3);
				}
			}
		}
	}

	.c-flex-order {
		display: block;

		.col-lg-6 {
			&:first-child {
				order: 1;
				float: left;
			}

			&:nth-child(2) {
				order: 2;
				float: right;
			}

			&:nth-child(3) {
				order: 3;
				float: left;
			}

			&:nth-child(4) {
				order: 4;
				float: right;
			}
		}

		.c-cartlist-box__table {
			margin-bottom: 30px;
		}
	}

	.c-transport {
		.c-transport-info {
			padding: 10px 20px;

			&__radio {
				width: 4%;
				margin-top: -8px;
			}

			&__content {
				width: 96%;

				&__name {
					margin-top: -7px;
					margin-left: 20px;

					img {
						width: 50px;
						height: 50px;
					}

					span {
						font-size: 18px;
					}
				}

				&__price {
					margin-left: auto;

					span {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-xl-min) {
	//pc & mac 1280px grow up
}

@media (min-width: 1440px) {
	//pc & mac 1440px grow up
}

@media (min-width: 1900px) {
	//pc & mac 1900px grow up
}

//end example responsive css
/*---------- end example css ----------*/

@media (min-width: $screen-lg-min) {
}
