/*---------- example css ----------*/
.c-productdetail-navmb {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 3;
	top: 87px;
	@include transition-default;
	border: 1px solid rgba($color-black, 0.1);

	&.is-scroll {
		top: 47px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			width: 50%;
			display: inline-block;
			text-align: center;

			&.active {
				a {
					background: $color-primary;
					color: $color-white;
				}
			}

			a {
				display: block;
				padding: 10px 15px;
				font-size: 12px;
				color: $color-black;
				background: $color-white;
				text-decoration: none;
			}
		}
	}
}

.delivery {
	padding: 10px 0;
	font-size: 10px;
	display: flex;
	align-items: center;

	img {
		display: inline-block;
		margin-right: 5px;
	}
}

.c-product-detail {
	margin-bottom: 60px;

	.container {
		position: relative;
		z-index: 1;
	}

	.is-img {
		margin: 0 -15px;

		&__item {
			position: relative;
			z-index: 1;
			padding-top: percentage(427/320);
			overflow: hidden;

			img {
				position: absolute;
				z-index: 2;
				top: 0;
				left: 50%;
				height: 100%;
				@include transform(translateX(-50%));
			}
		}

		.is-item {
			position: relative;
			z-index: 1;
			padding-top: percentage(427/320);
			background: $color-white;

			.is-inner {
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				.figure {
					background-repeat: no-repeat;
					position: absolute;
					z-index: 4;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					visibility: hidden;
					opacity: 0;
				}

				img {
					position: absolute;
					z-index: 3;
					display: block;
					width: 100%;
					opacity: 1;
					visibility: visible;
					top: 0;
					left: 50%;
					height: 100%;
					@include transform(translateX(-50%));
				}

				&:hover {
					.figure {
						opacity: 1;
						visibility: visible;
					}

					img {
						visibility: hidden;
						opacity: 0;
					}
				}
			}
		}
	}
}

.c-product-detail-fixed {
	visibility: visible;
	opacity: 1;
	@include transition-default;

	&__inner {
		background: $color-white;
		@include transition-default;

		.is-title {
			padding: 15px 0;
			border-bottom: 1px solid rgba($color-black, 0.3);

			span {
				display: block;
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 5px;
			}

			b {
				display: block;
				font-size: 18px;
			}
		}

		.is-price {
			padding: 15px 0;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 15px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					&:last-child {
						margin-bottom: 0;
					}

					&.notice {
						font-size: 12px;
						text-align: right;
						display: block;
					}

					.title {
						font-weight: 700;
						font-size: 18px;
					}

					.price {
						font-size: 18px;

						.r {
							font-weight: 700;
							display: inline-block;
						}

						.c {
							text-decoration: line-through;
							display: inline-block;
							margin-right: 5px;
						}

						.l {
							display: inline-block;
							padding: 5px 15px;
							background: $color-primary;
							color: $color-white;
							margin-right: 5px;
							font-weight: 700;
							border-radius: 20px;
						}
					}
				}
			}
		}
	}
}

.c-product-description {
	.is-title {
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: 700;
		text-transform: uppercase;
		color: $color-primary;
	}

	.b-maincontent {
		margin-bottom: 60px;
	}
}

.c-btn-boughtdetail {
	position: fixed;
	z-index: 5;
	bottom: 0;
	left: 0;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;

		li {
			width: 50%;
			float: left;

			.is-btn {
				background: $color-primary;
				height: 68px;
				padding: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;

				img {
					width: 30px;
					display: inline-block;
					margin-right: 5px;
				}

				span {
					color: $color-white;
					font-weight: 700;
					font-size: 16px;
					text-transform: uppercase;
				}
			}
		}
	}
}

//example responsive css
@media (min-width: $screen-sm-min) {
	//mobile lanscape
}

@media (min-width: $screen-md-min) {
	//ipad portrait
}

@media (min-width: $screen-lg-min) {
	//ipad lanscape & pc 1024x768px
	.c-product-detail {
		margin-top: 50px;

		.is-img {
			margin: 0;
			width: 436px;
			float: left;
		}
	}

	.c-product-detail-fixed {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;

		&__inner {
			position: fixed;
			right: calc(50% - 485px);
			width: 485px;

			.is-title {
				span {
					font-size: 14px;
					margin-bottom: 10px;
				}

				b {
					font-size: 24px;
					// height: 60px;
					@include excerpt(1, 3);
				}
			}

			.is-price {
				padding: 15px 0;

				ul {
					li {
						.title {
							font-size: 20px;
						}
					}
				}

				.delivery {
					padding: 10px 0 0 0;
					font-size: 10px;
					display: flex;
					align-items: center;

					img {
						display: inline-block;
						margin-right: 5px;
					}
				}
			}
		}

		&.is-1 {
			.c-product-detail-fixed__inner {
				width: 436px;
			}
		}

		&.is-2 {
			visibility: hidden;
			opacity: 0;

			.c-product-detail-fixed__inner {
				width: 436px;
			}
		}
	}

	.c-product-description {
		.is-title {
			font-size: 30px;
		}

		.b-maincontent {
			width: 50%;
		}
	}

	.c-btn-boughtdetail {
		margin-top: 30px;
		position: relative;

		ul {
			border: 1px solid $color-primary;

			li {
				cursor: pointer;

				.is-btn {
					background: $color-white;

					img {
						display: none;
					}

					span {
						color: $color-primary;
						font-weight: 700;
						font-size: 20px;
						text-transform: uppercase;
					}

					&.is-buy {
						background: $color-primary;

						span {
							color: $color-white;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-xl-min) {
	//pc & mac 1280px grow up
	.c-productdetail-navmb {
		top: 63px;
		visibility: hidden;
		opacity: 0;
		border: 0;

		&.is-scroll {
			top: 56px;
			visibility: visible;
			opacity: 1;
		}

		ul {
			li {
				position: relative;
				z-index: 1;

				&.active {
					&::before {
						content: '';
						position: absolute;
						z-index: 2;
						bottom: 0;
						left: 50%;
						@include transform(translateX(-50%));
						width: 120px;
						height: 1px;
						background: $color-primary;
					}

					a {
						background: $color-white;
						color: $color-black;
					}
				}
			}
		}
	}

	.c-product-detail {
		.is-img {
			width: 576px;
		}
	}

	.c-product-detail-fixed {
		&__inner {
			right: calc(50% - 550px);
			width: 500px;
		}

		&.is-1 {
			.c-product-detail-fixed__inner {
				width: 390px;
			}
		}

		&.is-2 {
			.c-product-detail-fixed__inner {
				width: 390px;
			}
		}
	}

	.c-product-description {
		.b-maincontent {
			width: calc(50% + 160px);
		}
	}
}

@media (min-width: 1440px) {
	//pc & mac 1440px grow up
}

@media (min-width: 1900px) {
	//pc & mac 1900px grow up
}

//end example responsive css
/*---------- end example css ----------*/
