/*---------- helpers css ----------*/
.h-text__underline {
	text-decoration: underline !important;
}
.h-text__none {
	text-decoration: none !important;
}
.h-text__inline-block {
	display: inline-block;
	vertical-align: top;
	width: auto;
}
.h-cursor__pointer {
	cursor: pointer !important;
}
/*---------- end helpers css ----------*/
/*---------- base small css ----------*/
.b-maincontent {
	font-size: $font-size-xs;
	line-height: $line-height-xs;
	// text-align: justify;
	// font-family: $font-sour;
	// white-space: break-spaces;
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	table {
		tbody {
			tr {
				td {
					border: 1px solid $color-black;
				}
			}
		}
	}
	p {
		font-size: $font-size-xs;
		margin: 0 0 5px;
	}
	img {
		max-width: 100%;
		height: auto !important;
	}
	ul,
	ol {
		padding-left: 20px;
		margin-bottom: 10px;
	}
	iframe {
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		line-height: normal;
		font-size: 30px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	h2 {
		line-height: normal;
		font-size: 22px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h3 {
		line-height: normal;
		margin-top: 7px;
		margin-bottom: 7px;
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 15px;
	}
	h6 {
		font-size: 14px;
	}
}
.b-nodata {
	padding: 10px 0;
}
.b-table {
	width: 100%;
	display: table;
}
.b-table__row {
	display: table-row;
}
.b-table__cell {
	display: table-cell;
	vertical-align: middle;
}
.b-grid {
	margin: 0;
	padding: 0;
	min-height: 60px;
	.b-grid__img {
		float: left;
		width: 50px;
		height: 50px;
		overflow: hidden;
		img {
			width: 100%;
			min-height: 50px;
			height: auto;
		}
	}
	.b-grid__content {
		margin-left: 60px;
	}
	.b-grid__row {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.b-grid__row-right {
		text-align: right;
		margin-bottom: 5px;
	}
	.b-grid__title {
		font-weight: bold;
		margin-right: 3px;
	}
	a.b-grid__title {
		cursor: pointer;
		text-decoration: none;
	}
	.b-grid__small-title {
		font-weight: normal;
		margin-right: 3px;
	}
	a.b-grid__small-title {
		cursor: pointer;
		text-decoration: none;
	}
}
@media (min-width: $screen-sm-min) {
	.b-maincontent {
		font-size: $font-size-sm;
		line-height: $line-height-sm;
		p {
			font-size: $font-size-sm;
		}
		h1 {
			font-size: 34px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 26px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		h3 {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 22px;
		}
		h4 {
			font-size: 20px;
		}
		h5 {
			font-size: 18px;
		}
		h6 {
			font-size: 16px;
		}
	}
}
/*---------- end base small css ----------*/
